<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <div class="row w-100 d-flex align-items-center">

      <!-- Left side -->
      <div class="col-6 d-flex align-items-center">
        <div class="sidebar-btn" onclick="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </div>
        <div class="navbar-brand">
          <img src="../../assets/images/logoHD.png" alt="Logo" height="35px">
        </div>
      </div>

      <!-- Right side -->
      <div class="col-6 d-flex justify-content-end">
        <div class="navbar-links">
          <a href="#" class="nav-link"><i class="fas fa-bell"></i></a> <!-- Notifications icon -->
          <a href="#" class="nav-link"><i class="fas fa-expand"></i></a> <!-- Full Screen icon -->
          <a href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i></a> <!-- Logout icon -->
        </div>
        <div class="user-profile">
          <img src="../../assets/images/user-profile.png" alt="User Profile">
          <span class="user-name">Nom Complet</span>
        </div>
      </div>

    </div>
  </div>
</nav>
